@import "tailwindcss";

:root {
  --background: #fffaf5;
  --foreground: #111827;

  --primary: #f97316;
  --primary-light: #fdba74;
  --button:#2196f3;
  --cream: #fff8f1;
  --surface: #ffffff;

  --muted: #6b7280;

  --border: rgba(249, 115, 22, 0.12);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}